{% extends 'base.html.twig' %}

{% block body %}
    <h1>Loans list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Book ISBN</th>
                <th>User Id</th>
                <th>Date out</th>
                <th>Date due back</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.bookIsbn }}</td>
                <td>{{ loan.userId }}</td>
                <td>{{ loan.dateOut|date('Y-m-d') }}</td>
                <td>{{ loan.dateDueBack|date('Y-m-d') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('loans_edit', { 'id': loan.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('loans_new') }}">Create a new loan</a>
        </li>
    </ul>
{% endblock %}
