{% extends 'base.html.twig' %}
{% block title %} new loan{% endblock %}
{% block body %}
    <h1>Loan creation</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
{#{{ form_row(form.bookIsbn) }}
    {{ form_row(form.user) }}#}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('loans_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
