{% extends 'base.html.twig' %}

{% block body %}
    <h1>Loan</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ loan.id }}</td>
            </tr>
            <tr>
                <th>Dateout</th>
                <td>{% if loan.dateOut %}{{ loan.dateOut|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datedueback</th>
                <td>{% if loan.dateDueBack %}{{ loan.dateDueBack|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('loans_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('loans_edit', { 'id': loan.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
