{% extends 'base.html.twig' %}
{% block title %}list books{% endblock %}
{% block body %}
<h1>Books</h1>
<table>
    <thead>
    <tr>
        <th>Isbn</th>
        <th>Title</th>
        <th>Author</th>
        <th>Catagory</th>
    </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td><a href="{{ path('book_show', { 'id': book.isbn }) }}">{{ book.isbn }}</a></td>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.catagory }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('book_show', { 'id': book.isbn }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('book_edit', { 'id': book.isbn }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('book_new') }}">Add a new book</a>
    </li>
</ul>
{% endblock %}