{% extends 'base.html.twig' %}
{% block title %}search{% endblock %}
{% block body %}
    <h1>Search all books</h1>

        {{ dump(books) }}

    <p>
        Enter title, author or catagory to search all books
    </p>
    {{ form_start(searchForm) }}
    {{ form_row(searchForm.author) }}
    {{ form_row(searchForm.title) }}
    {{ form_row(searchForm.catagory) }}
    <input type="submit" value="search" formnovalidate>
    {{ form_end(searchForm) }}

{% endblock %}