<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Libsys - {% block title %}{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/basic.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header>
        <img src="{{ asset('images/dummyHeader.jpg') }}">
    </header>
    <nav>
        <a href="{{ path('homepage') }}">home</a>
        <a href="{{ path('about') }}">about</a>
        <a href="{{ path('search_books') }}">search</a>
        {% if is_granted('ROLE_USER') %}
        <a href="{{ path('security_logout') }}">logout</a>
        {% else %}
        <a href="{{ path('security_login') }}">login</a>
        {% endif %}
        <a href="{{ path('homepage') }}">register</a>
        <a href="{{ path('security_login') }}">Staff</a>
        <a href="{{ path('homepage') }}">sitemap</a>
    </nav>
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
