<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Libsys - {% block title %}{% endblock %}</title><!--main title with options for child pages-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/basic.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <header>
        <img src="{{ asset('images/NeilGaimanQuote.jpg') }}">
    </header>
    <!--main navigation section-->
    <nav>
        <a href="{{ path('homepage') }}">home</a>
        <a href="{{ path('about') }}">about</a>
        <a href="{{ path('search_books') }}">search</a>
        {% if is_granted('ROLE_USER') or is_granted('ROLE_STAFF') %}{#checks if user is logged in#}
        <a href="{{ path('logout') }}">logout</a>{#displays logout option if user is logged in#}
        {% else %}
        <a href="{{ path('login') }}">login</a>
        {% endif %}
        <a href="{{ path('adminHome') }}">Staff</a>
        <a href="{{ path('sitemap') }}">sitemap</a>
    </nav>
        {#to display a success message from actions on various pages that could be redirected to various pages#}
        {% for msg in app.session.flashBag.get('success') %}
            {{ msg }}
        {% endfor %}
        {% block body %}{% endblock %}
    <footer>
        <hr>
        <p>LibSys - online library information management system</p>
    </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
