{% extends 'base.html.twig' %}
{% block title %}CRUD user{% endblock %}
{% block body %}
    <h1>Users</h1>
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.address) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.role) }}
    <input type="submit" value="update database" formnovalidate>
    {{ form_end(form) }}

{% endblock %}