{% extends 'base.html.twig' %}
{% block title %}sitemap{% endblock %}
{% block body %}
    <h1>Libsys sitemap</h1>
    <ul>
        <li><a href="{{ path('homepage') }}">homepage</a></li>
        <li><a href="{{ path('about') }}">about</a></li>
        <li><a href="{{ path('login') }}">login</a></li>
        <li><a href="{{ path('staff_login') }}">staff login</a></li>
        <li><a href="{{ path('book_index') }}">list of books</a></li>
        <li><a href="{{ path('adminHome') }}">Admin</a></li>
        <li><a href="{{ path('my_loans') }}">MyLoans</a></li>
    </ul>
{% endblock %}